.container-nav{
    width: 100%;
    height: auto;
    margin-bottom:30px;
    
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
    
}

.box-nav{
    margin: 15px;
    font-size: 17px;
    width: auto;
    text-align: center;
}

.box-nav a{
    min-width: 200px;
    line-height: 40px;
    user-select: none;
}
.box-nav a.active{
    color: #EC5252;
    pointer-events: none;
}

.container-nav .box-nav a:hover{
    border-bottom: 2px solid #333;
}

@media screen and (max-width:1200px){
    .box-nav{
        width: 30%;
    }
}

@media screen and (max-width:600px){
    .box-nav{
        width: 80%;
    }
}

@media screen and (max-width:300px){
    .box-nav{
        width: 80%;

    }
}

