body{
    background: #f6f6f6;
    height: 100vh;
    padding-top: 3%;
}
.invalido{
   /* ESTILOS PARA FALTA DE TEXTO EN CAJAS DE FORMULARIO */
    border-width: 5px !important; 
    border-style: solid !important;
    border-color: #C70039 !important;

}
.login-body{
    margin: auto;
    width: 100%;
}
.login-form{
    -webkit-box-shadow: 0px 0px 45px -12px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 45px -12px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 45px -12px rgba(0,0,0,0.45);
    border-radius: 15px;
    border-top: solid 2px #C79D26;
}
.card-header, .card-body{
    padding-left: 25px;
    padding-right: 25px;
}
.card-body{
    padding-top: 10px;;
}
.card-header{
    background: none;
    border:none;
    margin-bottom: 5px;
}
.card-header h4{
    font-size: 20px;
}
.card-logo{
    border-radius: 50%;
    border: solid 1px #E3E3E3;
    width: 140px;
    height: 140px;
    padding: 15px;
    display: flex;
    overflow: hidden;
}
.login-form form label{
    margin: 0;
    font-size: 13px;
}
.login-form form input,.modal-email{
    border-radius: 5px !important;
    font-size: 14px;
    padding: 10px 15px;
    width: 100%;
    outline: inherit;
    border: solid 1px #ECE7DD;
    background: #FFFEFC;
}
.login-form form input:focus{
    border: solid 1px #CE9A48 !important;
    transition-duration: 0.7s;
}
.form-input{
    margin-bottom: 25px;
}
.login-recu{
    text-decoration: none;
    color: #CE9A48;
    font-size: 14px;
}
.login-recu:hover{
    color: #CE9A48;
}
.login-button{
    margin-bottom: 25px;
}
.login-button button{
    background: #CE9A48;
    padding: 12px 25px;
    border: none;
    font-size: 13px;
}
.login-button button:hover{
    background: #B38741;
}


.modal-button{
    margin-top: 15px;
}
.modal-button button{
    margin-right: 5px;
    padding: 5px 10px;
    background: none;
    border-radius: 5px;
}
.btn-res{
    border: solid 1px #B38741;
    color: #B38741;
}
.btn-res:hover{
    background: #B38741;
    color: white;
}
.btn-cas{
    border: solid 1px #940D05;
    color: #940D05;
}
.btn-cas:hover{
    background: #940D05;
    color: white;
}
@media(min-width: 992px){
    .login-content{
        width: 380px;
    }
}