@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300&display=swap');
body{
    font-family: 'Roboto Serif', serif;;
    font-weight: 300;
    color: #4F4F55;
}
p{
    margin: 0;
}
a:hover, a{
    text-decoration: none;
    color: #000;
}
.bg-primary {
    background-color: #282727!important;
}
/* ------*/
.navbar{
    -webkit-box-shadow: 0px 6px 19px -8px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 6px 19px -8px rgba(0,0,0,0.5);
    box-shadow: 0px 6px 19px -8px rgba(0,0,0,0.5);
}
/* ------*/
#sidebar-container{
    min-height: 100vh;
    background-color: white;
}

#sidebar-container .logo{
    padding: 1px 1.25rem;
    padding-top: 15px!important;
}
#sidebar-container .logo img{
    width: 50px;
    display:block;
    margin:auto;
    margin-bottom: 5px;
}

#sidebar-container .logo p{
    margin: 0;
}

#sidebar-container .menu{
    width: 16rem;
    font-style: none;
    background-color: #fff;
}
#sidebar-container .menu .modulos{
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 10px;
    color: #000;
}
#sidebar-container .menu a{
    padding-left: 25px;
    padding-top: 10px;
    font-size: 16px;
}
#sidebar-container .menu>a{
    padding-bottom: 10px;
}
#sidebar-container .menu a:hover,
.accordion-item button:hover{
    color:#927136;
}
.accordion-item{
    border: none;
}
.accordion-item button{
    width: 100%;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 10px;
    color: #000;
    font-size: 16px;
    border: none;
    background: white;
}
/* ----modifiaciòn--------*/
.despliegue{
    position:absolute;
    left: 14rem;
}
/* ----modifiaciòn--------*/
.sub-menu{
    background: rgba(0,0,0,.06);
    padding-bottom: 5px;
}
.sub-menu a{
    padding-top: 6px !important ;
    padding-bottom: 5px !important ;
    margin-left: 40px;
}
.sub-menu i{
    width: 28px;
}
.dropdown-menu li a i{
    padding-right: 5px;
}
.config i{
    padding-right: 10px;
}
/* canvas menu*/

/* ----modifiaciòn--------*/
.nav-lateral{
    position: relative;
    margin-left: -16rem;
    transition: 0.4s;
}
.nav-lateral-active{
    margin-left: 0;
    display: block;
    height: 100%;
}
.nav-lateral-con{
    overflow: none !important;
}
/* ----modifiaciòn--------*/
@media(min-width: 992px){
    body{
        overflow: auto!important;
    }
    .nav-lateral{
        margin-left: 0rem;
    }
    .sec-hab section{
        width: 85%; margin: auto;
    }
}

/*------------ */

.contend-estados{
    background: white;
    padding: 15px;
}
.contend-estados>div>div{
    border-radius: 5px;
}
.contend-estados>div>div>p{
    font-weight: 550;
}
.bg-libre{
    border-top: solid 3px !important;
    border-top-color: #01BC49 !important;
}
.bg-ocupado{
    border-top: solid 3px !important;
    border-top-color: #D11111 !important;
}
.bg-reserva{
    border-top: solid 3px !important;
    border-top-color: #FFB212 !important;
}
.bg-clean{
    border-top: solid 3px !important;
    border-top-color: #1CD2C7 !important;
}
.bg-disabled{
    border-top: solid 3px !important;
    border-top-color: #999999 !important;
}

.sec-hab{
    margin-top: 10px;
    background: white;
    padding-bottom: 10px;
}
.hab .col{
    padding: 3px 5px !important;
    text-align: center;
}
.hab .col div{
    padding: 10px;
    cursor: pointer!important;
}
.hab .col div mark{
    background-color: #4F4F55;
    color: white;
    padding: 5px;
}
.hab .col div p{
    margin-top: 5px;
}
.hab .col img{
    display: block;
    margin: auto;
}
.hab .col div:hover{
    transform: scale(1.02);
    background: red;
}
/* */
.cli-content{
    margin-left: 0px;
}
.cli-title{
    color: #A27A3B;
    border-bottom: 1px solid #A27A3B;
}
.cli-content .cli-img{
    align-items: center;
}
.cli-content form{
    margin-top: 0;
}
.cli-content legend{
    margin-top: 0;
}
.cli-content h5{
    padding: 7px 7px;
    margin-top: 0;
    margin-bottom: 0;
    color: #282727;
}
.cli-content form label{
    margin-bottom: 5px;
    font-size: 14px;
}
/*Inputs */
.cli-form-input input{
    border-radius: 0;
    outline: inherit !important;
    width: 100%;
    padding: 8px 10px;
    border: solid 1px #d3d3d3;
    background: #FFFEFC;
    font-size: 15px;
    color: #4F4F55;
}
.cli-form-input input:focus{
    border-bottom: solid 1px #CE9A48 !important;
    transition-duration: 0.7s;    
}
/*botones */
.btn-guardar{
    background: #CE9A48 !important;
    padding: 12px 25px;
    border: none;
    font-size: 13px;
    color: white;
    border-radius: 5px;
}
.btn-guardar:hover{
    background: #B0843F !important;
}
.btn-limpiar{
    background: #25A1BA !important;
    padding: 12px 25px;
    border: none;
    font-size: 13px;
    color: white;
    border-radius: 5px;
}
.btn-limpiar:hover{
    background: #208CA1 !important;
}
.btn-cancelar{
    border: solid 1px #940D05;
    background: #fff;
    padding: 12px 25px;
    font-size: 13px;
    color: #940D05;
    border-radius: 5px;
}
.btn-cancelar:hover{
    background: #940D05;
    color: white;
}

.box-libre{
    border-radius: 5px;
    background-color: #038d38 !important;
}
.box-ocupado{
    border-radius: 5px;
    background-color: #f81d1d !important ;
}
.box-reserva{
    border-radius: 5px;
    background-color: #FFB212 !important;
}
.box-clean{
    border-radius: 5px;
    background-color: #1CD2C7 !important;
}
.box-disabled{
    border-radius: 5px;
    background-color: #999999 !important;
}

/*form input */
.formulario__input-error{
    font-size: 10px;
    display: none;
    color: red;
}
.formulario__input-error-activo{
    display: block;
}